*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.main{
  background-image:linear-gradient(
    to right,
    rgba(32, 191, 85),
    rgba(32, 164, 243),
    rgba(11, 79, 108)
  );;
  width:100vw;
  height:100vh;
}

.array-container {
        
        width:80%;
        margin:0 auto;
        padding:20px 0;
        height:80%; 

  }
  
  .array-bar {
  
    display: inline-block;

    
    margin: 0 2px;
    transform-origin: 0 -50%;
  }
  .buttons{
    background-color:rgba(255, 255, 255, 0.25);
    position:absolute;
    
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  /* For the fog-like glass effect */
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  
  }
  button{
    border:none;
    margin-left:30px;
    height:80px;
    background-color:rgba(255, 255, 255, 0.25);
    font-weight:2em;
    color:white;
    font-size:1.3em;
    border-radius:10px;
    padding:10px;
    text-transform: uppercase;


  }
  h1{
    color:white;
    font-size:1.3em;
    margin-bottom:10px;
    margin-top:10px;
    text-transform: uppercase;
  }
  button:hover{
    background-color: rgb(48, 148, 230);
    
  }
  
  
  